
<div class="header-inner-wrapper">
  <div class="header-button-wrapper">
    {{nb-button text="show/hide" type="flat-icon" icon="menu" iconColor="white" themeContext="header"
                on-tap=(route-action "toggleLeftSidebar")  }}
  </div>
  <div class="header-title">
    <span class="primary-title">component</span>

    <span class="secondary-title">nb-scroll-panel</span>

  </div>
  <div class="header-content">

  </div>
</div>

